/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem;
  }

  .navbar .nav-header {
    margin: 0 auto;
  }

  .navbar .nav-header img {
    height: 30px !important;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .top-menu-wrapper {
    display: block;
  }

  .navbar .top-menu-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: background 0.5s;
    display: none;
  }

  .navbar .top-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navbar .top-menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow-y: auto;
    padding: 1.5rem 1.5rem;
    background: #ffffff;
  }

  .navbar .top-menu-wrapper.show-offcanvas::before {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: block;
  }

  .navbar .top-menu-wrapper.show-offcanvas .panel,
  .navbar .top-menu-wrapper.show-offcanvas .top-menu {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.7s;
  }

  .navbar .top-menu-wrapper.show-offcanvas .top-menu {
    transition-delay: 0.2s;
  }

  .navbar .top-menu .mob-block {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .navbar .top-menu .close-mobile-menu {
    font-size: 1.5rem;
    color: #15314c;
    background: transparent;
    border: none;
    outline: none;
  }

  .navbar .open-mobile-menu {
    font-size: 1.5rem;
    color: #15314c;
    background: transparent;
    border: none;
    outline: none;
    display: block;
  }

  .navbar ul.top-menu {
    list-style: none;
  }

  .navbar ul.top-menu > li {
    /* margin: 1rem 0; */
    font-size: 1.2rem;
    width: 100%;
  }

  .navbar ul.top-menu > li > a {
    text-decoration: none;
    color: #15314c;
    width: 100%;
    padding: 1rem;
    display: block;
  }

  .navbar ul.top-menu > li > a > i {
    width: 2rem;
  }

  .navbar ul.top-menu > li > a:hover {
    color: #47c4fa;
  }

  .main > .content {
    width: 100%;
    flex: 0;
    padding-top: 2rem;
  }

  div.list-article div.card-article {
    margin: 5% 6%;
    width: 100%;
  }

  div.article-section > .header {
    padding: 0 1.5rem 2rem;
  }

  .main .banner {
    height: 14rem;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .typing-demo {
    font-size: 2.2em;
    animation: none;
    white-space: normal;
    overflow: hidden;
    border-right: none;
    font-weight: bold;
  }

  .main .banner > .content {
    z-index: 1;
    width: 85%;
    display: flex;
  }

  .main .banner > .wavy-img {
    position: absolute;
    height: 60%;
    width: 14rem;
    top: 0;
    right: 0;
    background-size: cover !important;
  }

  .main .single-section {
    width: 90%;
    margin-top: 0;
  }

  .main .single-section > .header {
    padding: 1.2rem 1.2rem 0;
  }

  .main .single-section > .content {
    padding: 0.5rem 1.2rem;
  }

  div.list-category {
    width: 80%;
  }

  div.list-category div.card-category {
    width: 48%;
  }
}
